@model ads.Models.Message

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/ADSLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ad.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRecipient.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRecipient.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSender.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSender.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isRead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isRead)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
